[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/NvChad/starter
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.config/tmux/plugins/tmux-yank"]
	path = tmux/.config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
